<h1>Bei welcher Berechnung wollen Sie unterstützt werden?</h1>
<br>

<div class="row">
  <table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Beschreibung</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let calculationRule of calculationRules">
      <td>{{calculationRule.id}}</td>
      <td>{{calculationRule.name}}</td>
      <td>{{calculationRule.description}}</td>
      <td>
        <button  (click)="onButtonClicked(calculationRule.id)">Berechnen</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
